h1 {
    font-size: 4em;
    color: #0d0d0d;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        color: #cb4fd9;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        color: #d68fc7;
    }
}